*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    align-content: center;
}
.head{
    font-size: 30px;
    text-align: center;
    color: chocolate;
    padding: 2%;
}
.des{
    font-size: large;
    text-align: center;
    color: ghostwhite;
}
.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    width: 150px;
    height: 200px;
    color: ghostwhite;
    font-size: 100px;
    border: 5px solid chocolate;
    border-radius: 20px;
}
.box:hover{
    transform: scale(1.2);
    transition: width 0.5s, height 0.5s, transform 0.5s ;
    background-color: chocolate;
}
.r{
    color: ghostwhite;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.result{
    border: 5px solid chocolate;
    border-radius: 20px;
    text-align: center;
    padding: 3%;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }